In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

In [4]:
page = requests.get(url)

In [7]:
soup = BeautifulSoup(page.text, 'html')

In [66]:
#print(soup)

In [65]:
#soup.find('table', class_ = 'wikitable sortable')

In [37]:
table = soup.find_all('table')[0]

In [67]:
#print(table)

In [39]:
table_titles = table.find_all('th')

In [40]:
table_titles

[<th>Rank
 </th>,
 <th>Name
 </th>,
 <th>Industry
 </th>,
 <th>Revenue <br/>(USD millions)
 </th>,
 <th>Revenue growth
 </th>,
 <th>Employees
 </th>,
 <th>Headquarters
 </th>]

In [41]:
table_titles_clean = [title.text.strip() for title in table_titles]
print(table_titles_clean)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [42]:
import pandas as pd

In [43]:
df = pd.DataFrame(columns = table_titles_clean)

In [44]:
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [47]:
column_data = table.find_all('tr')

for row in column_data[1:]:
    row_data = row.find_all('td')
    row_data_clean = [r.text.strip() for r in row_data]
    #print(row_data_clean)
    length = len(df)
    df.loc[length] = row_data_clean

In [48]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"
...,...,...,...,...,...,...,...
95,96,TIAA,Financials,"45,735",11.8%,"16,023","New York City, New York"
96,97,CHS,Agriculture cooperative,"45,590",-4.6%,"10,609","Inver Grove Heights, Minnesota"
97,98,Bristol-Myers Squibb,Pharmaceutical industry,"45,006",-2.5%,"34,100","New York City, New York"
98,99,Dow Chemical Company,Chemical industry,"44,622",-21.6%,"35,900","Midland, Michigan"
99,100,Best Buy,Retail,"43,452",-6.1%,"85,000","Richfield, Minnesota"

In [51]:
df.to_csv(r'C:\MyFile\DataAnalytics\Project\companies.csv', index = False)

## Second table

In [54]:
table2 = soup.find_all('table')[1]
table2_titles = table2.find_all('th')

In [55]:
table2_titles

[<th>Rank
 </th>,
 <th>Name
 </th>,
 <th>Industry
 </th>,
 <th>Revenue <br/>(USD billions)
 </th>,
 <th>Employees
 </th>,
 <th>Headquarters
 </th>]

In [56]:
table2_titles_clean = [title.text.strip() for title in table2_titles]
print(table2_titles_clean)

['Rank', 'Name', 'Industry', 'Revenue (USD billions)', 'Employees', 'Headquarters']

In [57]:
df2 = pd.DataFrame(columns = table2_titles_clean)

In [58]:
df2

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD billions), Employees, Headquarters]
Index: []

In [60]:
column_data2 = table2.find_all('tr')

for row in column_data2[1:]:
    row_data2 = row.find_all('td')
    row_data2_clean = [r.text.strip() for r in row_data2]
    #print(row_data_clean)
    length = len(df2)
    df2.loc[length] = row_data2_clean

df2.head()

,Rank,Name,Industry,Revenue (USD billions),Employees,Headquarters
0,1,Cargill,Food industry,177,"160,000","Minnetonka, Minnesota"
1,2,Koch Industries,Conglomerate,125,"120,000","Wichita, Kansas"
2,3,Publix Super Markets,Retail,54.5,"250,000","Winter Haven, Florida"
3,4,"Mars, Incorporated",Food industry,47,"140,000","McLean, Virginia"
4,5,H-E-B,Retail,43.6,"145,000","San Antonio, Texas"

In [61]:
df2.to_csv(r'C:\MyFile\DataAnalytics\Project\Privatecompanies.csv', index = False)

## third table

In [64]:
table3 = soup.find_all('table')[2]
table3_titles = table3.find_all('th')
table3_titles_clean = [title.text.strip() for title in table3_titles]
print(table3_titles_clean)
df3 = pd.DataFrame(columns = table3_titles_clean)
column_data3 = table3.find_all('tr')

for row in column_data3[1:]:
    row_data3 = row.find_all('td')
    row_data3_clean = [r.text.strip() for r in row_data3]
    #print(row_data_clean)
    length = len(df3)
    df3.loc[length] = row_data3_clean

print(df3.head())
df3.to_csv(r'C:\MyFile\DataAnalytics\Project\MostProfitcompanies.csv', index = False)

['Rank', 'Name', 'Industry', 'Profits(USD millions)']
  Rank                Name      Industry Profits(USD millions)
0    1               Apple   Electronics                96,995
1    2  Berkshire Hathaway  Conglomerate                96,223
2    3            Alphabet    Technology                73,795
3    4           Microsoft    Technology                72,361
4    5      JPMorgan Chase    Financials                49,552